<!DOCTYPE html>
<HTML>
    <!-- DW6 -->
    <HEAD>
        <META charset="utf-8">
        <META name="keywords" content="University of Louisville,Department of
        Physics and Astronomy,physics,louisville,research,computational physics,
        high energy,hep,high energy physics,atlas,babar,particle,particle physics">
        <link rel="icon" href="../images/favicon.ico" type="image/png" />
        <TITLE>High Energy Physics - University of Louisville: Department of Physics and Astronomy</TITLE>
        <LINK rel="stylesheet" href="../css/hep_css.css" type="text/css" href="css/custom-popup.css"
        href="css/responsive.css" href="css/magnific-popup.css">
        <LINK rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
            integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
            crossorigin="anonymous">
        <LINK rel="stylesheet" href="../css/hep_css.css" type="text/css" href="../css/main.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

    </HEAD>
    <BODY>

        <style>
            /* Style for the dropdown menu */
            .menu {
                padding: 0;
                margin: 0;
                /* background: #7f0000; */
                background: transparent;
            }

            .menuItem {
                display: inline;
                position: relative;
            }

            .submenu {
                position: absolute;
                left: -1px;
                top: -1px;
                display: none;
                padding-bottom: 3px;
            }

            .menuItem:hover .submenu {
                background: #7f0000;
                border-width: 1px;
                border-color: #932525;
                border-style: solid;
                display: block;
                box-shadow: 1px 1px 2px #111111;
            }
        </style>

        <DIV id="masthead">
            <a href="https://louisville.edu/"><img src="../images/UL_logo_white.png" alt="University of Louisville" style="float:right;width:150px;padding:5px 15px;"></a>
            <img src="../images/HEPLogo.png" alt="High Energy Physics" style="padding:8px 10px 0px;">
            <!-- <H1 id="siteName">High Energy Physics</H1> -->
            <DIV id="globalNav">
                <ul class="menu">
                    <li class="menuItem"><A href="../index.html">Home            </A> </li> |
                    <li class="menuItem"><A href="../navigation-BaBar/BaBar.html">BaBar </A> </li> |
                    <li class="menuItem"><A href="../navigation-mu2e/mu2e.html">Mu2e   </A> </li> |
                    <li class="menuItem"><A href="../navigation-news/news.html">News Archive</A>
                    <ul class="menu submenu">
                        <center>
                            <li style="padding-bottom:5px;"><A href="../navigation-news/news.html">News Archive </A> </li>
                            <li><A href="/news.php?y=2009">2009 </A> </li>
                            <li><A href="/news.php?y=2010">2010 </A> </li>
                            <li><A href="/news.php?y=2010">2011 </A> </li>
                            <li><A href="/news.php?y=2012">2012 </A> </li>
                            <li><A href="/news.php?y=2010">2014 </A> </li>
                            <li><A href="/news.php?y=2015">2015 </A> </li>
                            <li><A href="/news.php?y=2016">2016 </A> </li>
                    </center></ul>
                    </li> |
                    <li class="menuItem"><A href="../navigation-group/group.html">Group Page</A></li> |
                    <li class="menuItem"><A href="../navigation-alumni/alumni.html">Alumni Page</A></li> |
                    <li class="menuItem"><A href="../navigation-faqs/faqs.html">FAQs</A></li>
                </ul>
                <!--    <A href="http://www.physics.louisville.edu/">UofL Physics Home</A> |-->
                <!--    <A href="http://www.physics.louisville.edu/content/research.html">UofL Physics Research</A>-->
            </DIV>
            <DIV id="subMasthead">
                <H2 id="pageName">Group Page</H2>
            </DIV>
        </DIV>
<DIV id="headlines">
  <H3 style="font-size:120%;">Who We Are</H3>
  <br>
  <H5 style="padding-top:10px;">Faculty</H5>
  <br>
  <DIV style="font-size:90%;padding-bottom:10px;">
      <H4>Dr. Swagato Banerjee</H4>
      Natural Sciences Bldg. 210<br>
      Office: (502) 852-0915<br>
      Email: <script type="text/javascript" charset="utf-8">
      document.write("swag"+"ato"+".ban"+"erjee"+"@"+"louisville.edu");
  </script><br>
      <a href="http://www.physics.louisville.edu/contacts/23-assistant-professors/47-sbanerjee">Webpage</a><br>
      <br>
      <H4>Dr. David Brown (PI)</H4>
      Natural Sciences Bldg. 204<br>
      Office: (502) 852-6790<br>
      Email: <script type="text/javascript" charset="utf-8">
      document.write("dav"+"id.br"+"own"+"@"+"louisville.edu");
  </script><br>
      <a href="http://www.physics.louisville.edu/dnbrown">Webpage</a><br>
      <br>
      <H4>Dr. Chris Davis</H4>
      Natural Sciences Bldg. 205<br>
      Office: (502) 852-0852<br>
      Email: <script type="text/javascript" charset="utf-8">
      document.write("c."+"l.da"+"vis"+"@"+"louisville.edu");
  </script><br>
      <a href="http://www.physics.louisville.edu/cldavis/davis.html">Webpage</a><br>
      <br>
  </DIV>
  <br>
  <H5>Members</H5>
  <br>
  <H4 style="font-size:90%">Graduate Students</H4>
  <UL style="font-size:90%">
    <LI>Jake Berg     </LI>
    <LI>Jake Colston  </LI>
    <LI>Bryan Fagan   </LI>
    <LI>Erich Hohenstein </LI>
    <LI>Richard Judge </LI>
    <LI>Michael Martin*</LI>
  </UL>
  <br>
  <H4 style="font-size:90%">Undergraduate Students</H4>
  <UL style="font-size:90%">
    <LI>Joseph Brock   </LI>
    <LI>Dustin Cox     </LI>
    <LI>Joseph Leibson </LI>
    <LI>Brent Mode     </LI>
    <LI>Nava Moore     </LI>
    <LI>Logan Riney    </LI>
    <LI>Calvin Secrest </LI>
  </UL>
  <br>
  <DIV style="font-size:70%;padding-bottom:20px;">
    Dept. of Physics and Astronomy <br>
    102 Natural Science Bldg.<br>
    University of Louisville<br>
    Louisville KY 40292<br>
    (502) 852-6790<br>
  </DIV>
</DIV>
<DIV id="rightSide">
    <DIV id="navBar">
    <DIV class="relatedLinks">
    	<H3 style="font-size:120%">External Links</H3>
        <H3>HEP Resources</H3>
        <UL>
            <LI><A href="http://www2.slac.stanford.edu/vvc/">SLAC Virtual Visitor Center</A></LI>
            <LI><A href="http://particleadventure.org/">The Particle Adventure</A></LI>
            <LI><A href="http://quarknet.fnal.gov/">Quarknet</A></LI>
        </UL>
    </DIV>
    <DIV class="relatedLinks">
        <H3>Other Resources</H3>
        <UL>
            <LI><A href="http://www.physics.louisville.edu/">UofL Physics Home</A></LI>
            <LI><A href="http://www.physics.louisville.edu/content/research.html">UofL Physics Research</A></LI>
            <LI><A href="http://louisville.edu/">UofL Home Page</A></LI>
        </UL>
    </DIV>
</DIV>
    <DIV class="relatedLinks">
        <H3>Group Resources</H3>
        <a href="minutes.php">Minutes Archive</a>
        <a href="http://www.usqcd.org/fnal/troubleshooting.html">Troubleshooting connections</a>
    </DIV>
</DIV>

<DIV id="content">
<DIV class="feature">
        <!--    <IMG src="images/group_picture_Fall2012.jpg" alt="Group Picture Fall 2012" width="410" />  -->
        <!--    <P class="caption">Back row, left to right: Jake Colston, Jake Berg, Jared Keown, Jamie Bougher, Rob Domek, Calvin Secrest. Front row, left to right: Jason Thieman, Dr. Dave Brown, Richard Judge. Not pictured: Drew Miles, Dr. Chris Davis.</P> -->
        <P>
        <H2 style="font-size:150%">ATTENTION!</H2>
        Group members, if there is something you think
        should be added or modified, please do not hesitate to contact
        <a href ="mailto:hepweb@physics.louisville.edu">the webmaster</a>.
        </P>

        <!-- <P>                                                                                                                  -->
        <!-- Collaborators can find information related to current research in the left navigation bar under "Working Documents". -->
        <!-- </P>                                                                                                                 -->
        <DIV style="border-bottom: 1px solid #aaaaaa;padding-bottom:40px;"></DIV><br>
        <H2 style="font-size:150%">Recent Minutes</H2>
</DIV>
    <div class="story"><H3 style="font-size:110%"> March 15th, 2016 </H3><div style="font-size:105%;padding-top:15px;font-weight:bold;">Group</div><P>
            <ul><li>&bull; &nbsp; Kyle and Dustin presented on the various backgrounds of Mu2e. (Practice Run) </li><li>&bull; &nbsp; Jake B. presented pictures of his current efforts, working on the geometry model of 'civil construction' for Mu2e. This will feed into MARS, for studying radiation safety. </li></ul>
        </P><div style="font-size:105%;font-weight:bold;">BaBar</div><P>
            N.t.R.
        </P><div style="font-size:105%;font-weight:bold;">Mu2e</div><P>
            Mu2e Collaboration meeting went well.
        </P><DIV id="newsBottom"><A href="../navigation-news.html/minutes.php?y=2016">More minutes...</A></DIV>
</DIV>

<!--    <IMG src="images/hephome.png" alt="logos for UofL, CERN, and SLAC" width="250" height="250"> -->

<DIV id="content">

<section ng-app="todoListApp">
        <h2 ng-click="WelcomeBack()">My To-do's</h2>
        <div ng-controller="mainCtrl" class="list">
          <div ng-repeat="todo in todos">
          <div class="add">
            <a href=""ng-click="addTodo()">+ Add a New Task</a>
          </div>
          <div class="item" ng-class="{'editing-item': editing, 'edited': todo.edited}" ng-repeat="todo in todos">
            <input ng-model="todo.completed" type="checkbox"/>
            <label ng-hide="editing" ng-click="helloWorld()">
              Task</label>
            <input ng-change="todo.edited = true" ng-blur="editing = false;" ng-show="editing" ng-model="todo.name" class="editing-label" type="text"/>
            <div class="actions">
              <a href="" ng-click=" editing = !editing">Edit</a>
              <a href="" ng-click="saveTodo(todo)">Save</a>
              <a href="" ng-click="deleteTodo(todo, $index)"  class="Delete">delete</a>
            </div>
           </div>
          <div class="item" ng-class="{'editing-item': editing, 'edited': todo.edited}" ng-repeat="todo in todos">
            <input ng-model="todo.completed" type="checkbox"/>
            <label ng-hide="editing" ng-click="helloWorld()">
              Complete</label>
           <input ng-change="todo.edited = true" ng-blur="editing = false;" ng-show="editing" ng-model="todo.name" class="editing-label" type="text"/>
            <div class="actions">
              <a href="" ng-click=" editing = !editing">Edit</a>
              <a href="" ng-click="saveTodo(todo)">Save</a>
              <a href="" ng-click="deleteTodo(todo, $index)"  class="Delete">delete</a>
        </div>
        <script src="../js/main.js" type="text/javascript"></script>
</section>
<H4 style="padding-bottom:450px"></H4>
</DIV>
</DIV>
<!--end content -->
    <DIV id="siteInfo">
        <A href="http://www.louisville.edu/"><IMG src="../images/ULlogo.png" width="44" height="28"></A>
        <A href="http://www.facebook.com"><IMG alt="Facebook icon" src="../images/facebook_icon-87b05728d04840fc7ce6f5ffc4003bc7.svg"></A>
        <A href="http://www.youtube.com"><IMG alt="Youtube icon" src="../images/youtube_icon-0ba2e2c484c476c73e159f1e5f92d4f0.svg"></A>
        <A href="/sitemap.php">Site Map</A> |
        <script type="text/javascript" charset="utf-8">
            document.write("<A href=\"mailto:"+"dav"+"id.br"+"own"+"@"+"louisville.edu"+"\">Contact Us</A>");
        </script>
            | &copy;2016  University of Louisville
        <DIV id="slidemenu"
        <form class="navbar-form navbar-right" role="form">
             <DIV class="form-group">
              <input type="search" placeholder="search" class="form-control">
        </DIV>
          <button type="submit" class="btn btn-primary">Go</button>
        </form>
        <DIV class="footerLink">
            <A href="#top">Top&nbsp;&#x25B4;</A>
        </DIV>
    </DIV>
   </DIV>
   </DIV>
    <BR>
  </BODY>
</HTML>
